@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  @apply w-full;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

table {
  td:last-child {
    @apply text-brown-800 font-bold;
  }

  tr {
    @apply leading-10;
    &:not(:last-child) {
      @apply border-b border-solid border-stone-300;
    }
  }
}
